# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json
yarn.lock

# Build directory
/src
gatsby-browser
gatsby-config
gatsby-node
gatsby-ssr
LICENSE
package.json
.prettierrc

.DS_Store
